<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Book</title>
</head>
<body>

<form th:action = "@{/books/search}" th:method="POST">

    <label for="title">Введите название книги: </label>
    <input type="text" name="title" id="title"/>

    <input type="submit" value="Search"/>
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <span>Книг не найдено</span>
    </div>
    <h2>Результаты поиска: </h2>
    <ul>
        <li th:each = "book : ${books}">

            <span th:text = "${book.title}">Title</span> </br>
            <span th:text = "${book.author}">Author</span> </br>
            <span th:if = "${book.getOwner() != null}"} th:text="${book.getOwner().getFullName()}"></span>
            <span th:if = "${book.getOwner() == null}">Книга свободна</span>
        </li>
    </ul>
</div>

</body>
</html>